.beranda{
    /* padding-left: 1rem; */
    width: 100%;
    height: calc(100vh - 3.5rem);
    padding-top: 3.5rem;
}
.attribut_beranda_right{
    max-width: 500px;
    position: absolute;
    right: 0;
    height: 150px;
    z-index: -1;
    transform: translateX(12px);
}
.attribut_beranda_left{
    display: block;
    max-width: 500px;
    position: absolute;
    left: 0;
    height: 150px;
    z-index: -1;
    transform: translateX(-12px);
}
@media screen and (width < 1400px){
    .attribut_beranda_left{
        display: none;
    }
}
.attribut_beranda_right img, .attribut_beranda_left img{width: 100%; height: 100%;}
.beranda_text_container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    height: 30%;
    margin-bottom: 1rem;
}
.beranda_text_container p{
    align-self: center;
    padding-right: 26px;
    margin-bottom: .9rem;
}
.beranda_img{
    position: absolute;
    filter: brightness(65%);
    left: 0;
    right: 0;
    background-image: url(/assets/img/redd-f-PTRzqc_h1r4-unsplash-min.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 68%;
}
.beranda_img p{
    color: white;
    position: absolute;
    margin-left: 1.5rem;
    bottom: 0;
}
@media screen and (width <= 1024px){
    .beranda_text_container p{
        align-self: center;
    }
}
@media screen and (width <= 896px){
    .nLineTitle{
        display: none;
    }
    .beranda_text_container{
        display: flex;
        flex-direction: column;
        gap: 0;
    }
    .attribut_beranda_right{
        display: none;
    }
    .beranda_text_container p{
        display: block;
        text-align: center;
        align-self: center;
        padding: 0;
        margin-bottom: 0;
        transform: translateY(-12px);
        font-size: .9rem;
        
    }
    .beranda_text_container h1{
        text-align: center;
    }
}
@media screen and (width <= 375px) {
    .beranda{
        padding-left: 0;
    }
    .beranda_text_container h1{
        font-size: 7vw;
    }
    .beranda_text_container p{
        font-size: 3vw;
    }
}
@media screen and ( 695px < width <= 789px) {
    .attribut_beranda_right, .attribut_beranda_left{
        display: block;
    }
}
@media screen and (width > 1980px ) {
    .beranda{
        position: relative;
    }
}

/* Tentang kami */
.about{
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    width: 100%;
    box-sizing: border-box;
    padding-top: var(--header-height);
    padding-bottom: var(--header-height);
    justify-content: center;
    align-items: center;
}
.about_content p{
    text-align: justify;
}
.about_img_container{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;
    margin-top: var(--header-height);
    position: relative;
}
.about_img{
    transform: translateY(-100%);
    animation: 30s slide infinite linear;
}
.about_img img{
    width: 220px;
    height: 150px;
    border-radius: 6px;
    margin-bottom: .5rem;
}
.about_content button{
    padding: 12px 16px;
    border: 1px solid white;
    background: var(--brown-color);
    color: white;
    border-radius: 6px;
    font-size: 1rem;
}
@keyframes slide {
    0%{
        transform: translateY(0);
    }
    100%{
        transform: translateY(100%);
    }
}

@media screen and (width <= 768px) {
    .about{
        overflow-x: hidden;
        flex-direction: column;
    }
    .about_content {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .about_content h2,p{
        text-align: center;
    }
    .about_img_container{
        flex-direction: row;
        height: 150px;
        overflow: hidden;
        width: 100vw;
        margin-top: 0;
    }
    .about_img{
        transform: translateX(100px);
        display: flex;
        animation: 30s slide infinite linear;
    }
    .about_img img{
        margin-right: 1rem;
    }
    @keyframes slide {
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }
}


/* Proker section */

.left{
    width: calc(50% - 1rem);
    height: 300px;
    position: sticky;
    top: var(--header-height);
}
.left p{
    text-align: justify;
    font-size: 1rem;
}
.right{
    width: 50%;
}
.right img{
    width: 100%;
    height: 300px;
    margin-bottom: 2rem;
}
.proker{
    width: calc(100% - 1rem);
    display: flex;
    gap: 1rem;
    padding-left: 1rem;
}
.blog{
    padding-top: var(--header-height);
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    height: 100vh;
}
.blog_container{
    display: flex;
}
.blog h2{
    text-align: center;
}
.text_content{
    padding-left: 1rem;
    padding-right: 1rem;
}
.main_blog{
    cursor: pointer;
    background: rgba(169, 169, 169, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(179, 179, 179, 0.58);
    width: 50%;
    height: 400px;  
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid white;
    margin-right: 1rem;
}
.main_blog img{
    width: 100%;
    height: 60%;
    border-radius: 12px 12px 0px 0px;
}
.main_blog p{
    font-size: .9rem;
    text-align: start;
}
.aside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 50%;
    height: 400px;
}
.blog_child{
    cursor: pointer;
    display: flex;
    height: 100px;
    border-radius: 6px;
    background: rgba(169, 169, 169, 0.27);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(179, 179, 179, 0.58);
}

.blog_child img{
    width: 40%;
    height: 100px;
    border-radius: 4px;
}
.blog_child .text_content_child p{
    text-align: start;
    font-size: .6rem;
}
.blog_child .text_content_child{
    padding-left: 1rem;
    padding-right: 1rem;
}