@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* css section */
@import url(/public/css_section/beranda.css);
@import url(/public/css_section/header.css);
@import url(/public/css_section/tentang.css);
@import url(/public/css_section/contact.css);
@import url(/public/css_section/departement.css);
@import url(/public/css_section/blog.css);
@import url(/public/css_section/footer.css);
:root{
    /* Color */
    --primary-color: rgb(230, 229, 229);
    --secondary-color: rgb(24, 24, 24);
    --teriary-color: rgba(255, 255, 255, 0.5);
    --blue-color:#6488ff;
    --brown-color:rgb(152, 137, 1);
    /* Variabel size */
    --header-height: 4.5rem;
    --mrg-xs: .5rem;
    --mrg-s: 1rem;
    --mrg-l: 1.5rem;
    --mrg-x: 2rem;
    /* typography */
    --body-font: 'Poppins', sans-serif;
    --font-medium: 500;
    --font-bold: 600;
    --Big-font: clamp(2.4rem, 3vw, 2.6rem);
    --medium-font: clamp(2rem, 4vw, 2.4rem);
    --regular-font: clamp(1rem, 2vw, 1.2rem);
    /* z-index */
    --z-fix: 100;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-behavior: smooth;
    font-family: var(--body-font);
    background: var(--primary-color);
    overflow-x: hidden;
}
main{
    max-width: 1200px;
}
h1,h2,h3{
    font-family: "Montserrat";
    font-weight: var(--font-bold);
    text-align: left;
}
h1{
    font-size: var(--Big-font);
}
h2{
    font-size: var(--medium-font);
}
p{
    font-size: var(--regular-font);
}
a{
    font-size: var(--regular-font);
    text-decoration: none;
    color: var(--secondary-color);
}
ul > li{
    font-size: var(--regular-font);
    list-style-type: none;
}
@media screen and (width <= 1024px){
    h1{
        font-size: calc(var(--Big-font) - .3rem);
    }
    p{
        font-size: calc(var(--regular-font) - .3    rem);
    }
}
@media screen and (width <= 896px){
    h1{
        font-size: calc(var(--Big-font) - .6rem);
    }
    h2{
        font-size: calc(var(--medium-font) - .2rem);
    }
}
@media screen and (width <= 375px) {
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
}